/*
# Making HTML5 animation banner.
# Use HTML5 , CSS 3 and Javascript.
*/

.see{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%,-50%);
    background-color: dodgerblue;
 
}

.body-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%,-50%);

}


.face{
    width: 70px;
    height: 70px;
    margin: 0px auto;
    background-color: azure;
    border-radius: 50%;
}

.face .eye{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
.face .eye.left{
    position: relative;
    top: 20px;
    right: -9px;
    border-top: 4px solid #a30303;
}
.face .eye.right{
    position: relative;
    float: right;
    top: 6px;
    right: 9px;
    border-top: 4px solid #a30303;
}
.face .eye-ball{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}
/*Mouth Style*/
.face .mouth{
    width: 20px;
    height: 7px;
    background-color: #000000;
    border-radius:0px 0px 50% 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Lawbody style*/
.lawbody{
    margin: 0 auto;
    left: 50%;
    width: 130px;
    height: 200px;
    background-color: black;
    border-radius: 50% 50% 30px 40px;
}